name: Mock tests action

on:
  push:
  pull_request:

jobs:
  commit-validation:
    name: Validate commit message
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get commit message
        id: get_message
        run: |
          COMMIT_MSG=$(git log -1 --pretty=format:%s)
          echo "message=$COMMIT_MSG" >> $GITHUB_OUTPUT

      - name: Validate message format
        run: |
          echo "Commit message: '${{ steps.get_message.outputs.message }}'"

          if [[ ! "${{ steps.get_message.outputs.message }}" =~ ^(feat|fix|docs|ci|refactor|test|chore)(\(.+\))?:\ .+ ]]; then
            echo "Invalid commit message format!"
            exit 1
          fi

          echo "Commit message is valid"

  telegram-notify:
    name: Send Telegram Notification
    runs-on: ubuntu-latest
    needs: commit-validation
    if: always()

    steps:
      - name: Send Telegram message
        run: |
          STATUS="${{ needs.commit-validation.result }}"

          if [ "$STATUS" = "success" ]; then
            TEXT="CI REPORT\n\nCommit passed.\nBranch: *${{ github.ref_name }}*\nNeuroCore online."
          else
            TEXT="CI ERROR\n\nCommit failed.\nBranch: *${{ github.ref_name }}*"
          fi

          curl -s -X POST "https://api.telegram.org/bot${{ secrets.TELEGRAM_BOT_TOKEN }}/sendMessage" \
            -d chat_id="${{ secrets.TELEGRAM_CHAT_ID }}" \
            -d parse_mode="Markdown" \
            -d text="$TEXT"

